<html>
<head>
    <title>Dashboard | UniAuth</title>
    <link rel="stylesheet" type="text/css" href="assets/style.css">
</head>
<body>
<div class="container">
    <div class="sz hp">
        <h1>Hello, <%= username%>!</h1>
        <% if (typeof gmailAddress != 'undefined') { %>
            <p>Your UHS Account <%= gmailAddress %> is linked to your Discord account.</p>
            <p>Your Discord account has been added to the UHS Discord server.</p>
            <p>To reauthenticate (if you left the Discord server, if your name changed on your UHS Gmail), click the 'Reauthenticate' button.</p>
            <a href="/google/refresh">Reauthenticate</a>
            <a href="/oauth/logout">Log out</a>
        <% } else { %>
        <a href="/google/login">Add your UHS Gmail Account</a>
        <a href="/oauth/logout">Log out</a>
        <% } %>

    </div>
</div>
</body>
</html>