<html>
<head>
    <title>Dashboard | UniAuth</title>
    <link rel="stylesheet" type="text/css" href="../assets/style.css">
</head>
<body>
<div class="container">
    <div class="sz hp">
        <h1>An error has occurred.</h1>
        <p><%= errorMessage %></p>
    </div>
</div>
</body>
</html>