<html>
    <head>
        <title>Home | UniAuth</title>
        <link rel="stylesheet" type="text/css" href="assets/style.css">
    </head>
    <body>
        <div class="container">
            <div class="sz hp">
                <h1>Welcome to UniAuth</h1>
                <p>In order to maintain a safe online space, UniAuth verifies you have permission to be in the UHS Discord.</p>
                <h2>What information does UniAuth gather?</h2>
                <ul>
                    <li>Your Name</li>
                    <li>Your UHS Email Address</li>
                    <li>Your Discord User ID</li>
                </ul>
                <h2>Does UniAuth change anything on my Discord account?</h2>
                <p>No. UniAuth only verifies that you are allowed to be in the UHS Discord (student/faculty). It does not impact your Discord account in anyway, nor does it affect any other Discord server you may be in.</p>
                <a href="/oauth/login">Click to log in</a>
            </div>
        </div>
    </body>
</html>